<div class="container">
    <div class="alert alert-warning titulos" role="alert">
        <h2>Opciones de pedidos</h2>
    </div>


    <div class="container1">
        <div class="row">
            <div class="col-md-6">
                <img src="https://elcomercio.pe/resizer/3EEDUs9qsbzt2cwpYdj77xyZIPc=/1200x800/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/ZJ5LQRJARRAO3DIBR4EXJQXIAU.jpg" alt="imagen de pollo a la brasa" class="img-fluid imgpedido">
            </div>
            <div class="col-md-6">
                <h3>Datos del pedido:</h3>
                <ul>
                    <li>un pollo a la brasa</li>
                    <li>una porcion de papas fritas</li>
                    <li>ensalda familiar</li>
                </ul>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Mesa: </p> <p>{{mesa}} </p>
                            </div>
                            
                            <div class="col-md-6">
                                <p>pedido: </p> <p>{{pedido}} </p>
                            </div>
                            
                        </div>
                        
                    </div>
                    <div class="col-md-6">
                        <button (click)="concluirpedido()" type="button" class="btn btn-primary">Selecionar pedido</button>
                    </div>
                </div>
                
                   
               
            </div>
        </div>
        
    </div>

  
  
 
</div>











    
