<div class="container">
    <div class="alert alert-warning titulos" role="alert">
        <h2>selecionar mesa</h2>
      </div>


    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img (click)="selecionarmesa(1)" src="https://media.istockphoto.com/id/1373286839/es/vector/mesa-con-mantel-blanco-objeto-vectorial-de-color-semiplano.jpg?s=612x612&w=0&k=20&c=HA63xUok94hWC97aOCrvPsCkIYEjbsODTFt4efakx60=" alt="Imagen 1" class="img-fluid">
            </div>
            <div class="col-md-6">
                <img (click)="selecionarmesa(2)"  src="https://media.istockphoto.com/id/1373286839/es/vector/mesa-con-mantel-blanco-objeto-vectorial-de-color-semiplano.jpg?s=612x612&w=0&k=20&c=HA63xUok94hWC97aOCrvPsCkIYEjbsODTFt4efakx60=" alt="Imagen 2" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img (click)="selecionarmesa(3)"  src="https://media.istockphoto.com/id/1373286839/es/vector/mesa-con-mantel-blanco-objeto-vectorial-de-color-semiplano.jpg?s=612x612&w=0&k=20&c=HA63xUok94hWC97aOCrvPsCkIYEjbsODTFt4efakx60=" alt="Imagen 3" class="img-fluid">
            </div>
            <div class="col-md-6">
                <img (click)="selecionarmesa(4)"  src="https://media.istockphoto.com/id/1373286839/es/vector/mesa-con-mantel-blanco-objeto-vectorial-de-color-semiplano.jpg?s=612x612&w=0&k=20&c=HA63xUok94hWC97aOCrvPsCkIYEjbsODTFt4efakx60=" alt="Imagen 4" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img (click)="selecionarmesa(5)"  src="https://media.istockphoto.com/id/1373286839/es/vector/mesa-con-mantel-blanco-objeto-vectorial-de-color-semiplano.jpg?s=612x612&w=0&k=20&c=HA63xUok94hWC97aOCrvPsCkIYEjbsODTFt4efakx60=" alt="Imagen 5" class="img-fluid">
            </div>
            <div class="col-md-6">
                <img (click)="selecionarmesa(6)"  src="https://media.istockphoto.com/id/1373286839/es/vector/mesa-con-mantel-blanco-objeto-vectorial-de-color-semiplano.jpg?s=612x612&w=0&k=20&c=HA63xUok94hWC97aOCrvPsCkIYEjbsODTFt4efakx60=" alt="Imagen 6" class="img-fluid">
            </div>
        </div>
    </div>

 


</div>





